<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="head" th:remove="tag">
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="../public/main.css" th:href="@{/main.css}"/>
    <!-- Typeface -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,900" rel="stylesheet"/>
    <!-- jQuery -->
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script type="text/javascript" src="/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.js"></script>
</div>
</body>
</html>